<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.basewin.unionpay">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_DATETIME" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_LED" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_BEEP" />
    <uses-permission android:name="com.pos.permission.CARD_READER_ICC" />
    <uses-permission android:name="com.pos.permission.CARD_READER_PICC" />
    <uses-permission android:name="com.pos.permission.CARD_READER_MAG" />
    <uses-permission android:name="com.pos.permission.COMMUNICATION" />
    <uses-permission android:name="com.pos.permission.PRINTER" />
    <uses-permission android:name="com.pos.permission.SECURITY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_RFREGISTER" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.pos.sdk" />
        <uses-library android:name="com.odm" />

        <activity android:name=".ui.SignInAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.basewin.zxing.MipcaActivityCapture" />
        <!-- <activity android:name=".ui.SignInAty" /> -->
        <activity android:name=".trade.SwipingCardAty" />
        <activity android:name=".trade.SwipingSecondCardAty" />
        <activity android:name=".base.BasePWDAty" />
        <activity android:name=".base.BaseWaitAty" />
        <activity android:name=".trade.InputAuthCodeAty" />
        <activity android:name=".trade.InputBatchAty" />
        <activity android:name=".trade.InputDateAty" />
        <activity android:name=".trade.InputInstallNOAty" />
        <activity android:name=".trade.InputManagerPWDAty" />
        <activity android:name=".trade.InputTerminalAty" />
        <activity android:name=".trade.InputTraceAty" />
        <activity android:name=".trade.InputMoneyAty" />
        <activity android:name=".trade.InputFeeAty" />
        <activity android:name=".trade.InputProductIdAty" />
        <activity android:name=".trade.InputPWDAty" />
        <activity android:name=".trade.InputCardExpDateAty" />
        <activity android:name=".trade.InputID6Aty" />
        <activity android:name=".trade.InputCVN2Aty" />
        <activity android:name=".trade.ChooseCardOrganizationAty" />
        <activity android:name=".trade.PrintWaitAty" />
        <activity android:name=".trade.SignatureAty" />
        <activity android:name=".trade.NetWaitAty" />
        <activity android:name=".trade.OfflineDealWaitAty" />
        <activity android:name=".trade.InputRefundMoneyAty" />
        <activity android:name=".trade.InputCardNumberAty" />
        <activity android:name=".trade.InputGoodsCodeAty" />
        <activity android:name=".setting.MOTOTypeSettingAty" />
        <activity android:name=".setting.BONUSTypeSettingAty" />
        <activity android:name=".setting.ECashTypeSettingAty" />
        <activity android:name=".setting.InstallmentTypeSettingAty" />
        <activity android:name=".setting.UpCardSettingAty" />
        <activity android:name=".setting.ReservationTypeSettingAty" />
        <activity android:name=".setting.OtherTypeSettingAty" />
        <activity android:name=".setting.PwdManageAty" />
        <activity android:name=".setting.SysPwdMangeAty" />
        <activity android:name=".setting.SystemParSettingAty" />
        <activity android:name=".setting.MerchantSetting" />
        <activity android:name=".setting.TradeInputPwdSettingAty" />
        <activity android:name=".setting.TradeManageAty" />
        <activity android:name=".setting.TradeOfflineSettingAty" />
        <activity android:name=".setting.TradeOtherSettingAty" />
        <activity android:name=".setting.TradeSettlementSettingAty" />
        <activity android:name=".setting.TradeSwipCardSettingAty" />
        <activity android:name=".setting.TraditionalTypeSettingAty" />
        <activity android:name=".menu.ui.GridMenuAty" />
        <activity android:name=".setting.DownloadTMKActivity" />
        <activity android:name=".setting.SetTmkIndexActivity" />
        <activity android:name=".setting.DownloadTmkFromICActivity" />
        <activity android:name=".setting.SetTmkValueActivity" />
        <activity android:name=".setting.SetDesActivity" />
        <activity android:name=".setting.DownloadTmkFromMposActivity" />
        <activity android:name=".setting.CommuParmAty" />
        <activity android:name=".setting.TradeSwitchControlManageAty" />
        <activity android:name=".setting.CommuParmManageAty" />
        <activity android:name=".setting.CommuParmOtherAyt" />
        <activity android:name=".setting.OtherFunctionManageAty" />
        <activity android:name=".setting.SignStyleParmSettingAty" />
        <activity android:name=".setting.PrintParamAty" />
        <activity android:name=".setting.ClearTradeFlow" />
        <activity android:name=".setting.PrintStyleSettingAty" />
        <activity android:name=".ui.OperatorAty" />
        <activity android:name=".ui.CheckInfoAty" />
        <activity android:name=".ui.VersionAty" />
        <activity android:name=".ui.ShowBalanceAty" />
        <activity android:name=".ui.OfflineAdjustCheckInfoAty" />
        <activity android:name=".setting.SysEchoTest" />
        <activity android:name=".setting.TestManageAty" />
        <activity android:name=".setting.SysParamsLoad" />
        <activity android:name=".setting.SysPosStateUpload" />
        <activity android:name=".setting.SysDownloadICKey" />
        <activity android:name=".setting.SysDownloadICParams" />
        <activity android:name=".setting.SysDownloadCardBin" />
        <activity android:name=".trade.InputReferNo" />
        <activity android:name=".trade.ShowDetailAty" />
        <activity android:name=".trade.ShowTotalAty" />
        <activity android:name=".trade.ShowDetailByTraceAty" />
        <activity android:name=".trade.ShowDetailByCardnoAty" />
        <activity android:name=".trade.ShowECDetailAty" />
        <activity android:name=".trade.ShowECLoadDetailAty" />
        <activity android:name=".trade.NetSettleWaitAty" />
        <activity android:name=".trade.StartMainMenuAty" />
        <activity android:name=".trade.PrintSettleWaitAty" />
        <activity android:name=".setting.MangagerPwdSettingAty" />
        <activity android:name=".setting.ManagerQueryAty" />
        <activity android:name=".setting.SetExternalDialNumAty" />
        <activity android:name=".setting.LockTerminalAty" />
        <activity android:name=".trade.ChoosePayTypeAty" />
        <activity android:name=".trade.CanRechargeAty" />
        <activity android:name=".trade.InputPhoneNoAty" />
        <activity android:name=".trade.InputReservaNoAty" />
        <activity android:name=".trade.InputNameAty" />
        <activity android:name=".trade.InputIdCardNumAty" />
        <activity android:name=".trade.PrintDetailSuccessWaitAty" />
        <activity android:name=".trade.PrintDetailFailWaitAty" />
        <activity android:name=".trade.NetUploadTCWaitAty" />
        <activity android:name=".setting.SysSettingPrintWaitAty" />
        <activity android:name=".trade.ChooseAuthTypeAty" />
        <activity android:name=".trade.InputAuthOrganizationCodeAty" />
        <activity android:name=".trade.NetUploadSignaWaitAty" />
        <activity android:name=".trade.PrintReverseErrorAty" />
        <activity android:name=".setting.LoadTmkByIcMainActivity" />
        <activity android:name=".setting.LoadTmkSwipeCardActivity" />
        <activity android:name=".setting.ManuallyEnterKeyActivity" />
        <activity android:name=".trade.InputIntoCardNumberAty" />
        <activity
            android:name=".ExternalCallAty"
            android:exported="true" />
    </application>

</manifest>